# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Artilley2D.iml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\Artilley2D\Artilley2D\.idea\.idea.Artilley2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
